@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container {
  position: relative;
  background: #f0f3fd;
  color: #333;
}

.container .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #f0f3fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.container .header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

#dark-containe .header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

#container .logo {
  font-size: 3rem;
  color: #f0f3fd;
  font-weight: 600;
  cursor: default;
  -webkit-text-stroke-width: 2px; /* largura da borda */
  -webkit-text-stroke-color: #333; /* cor da borda */
}

#dark-container .logo {
  font-size: 3rem;
  font-weight: 600;
  cursor: default;
  -webkit-text-stroke-width: 2px; /* largura da borda */
  -webkit-text-stroke-color: transparent; /* cor da borda */
}

.navbar a {
  font-size: 1.7rem;
  color: #333;
  font-weight: 500;
  margin-left: 4rem;
  transition: 0.5s;
}

.navbar a:hover,
.navbar a.destaque {
  color: #37a1f2;
}

#menu-icon {
  font-size: 3.6rem;
  display: none;
}

.toggle-icon {
  display: flex;
  font-size: 2rem;
  cursor: pointer;
}

.toggle-icon.disabled {
  pointer-events: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h1 {
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: #37a1f2;
}


.home-content p {
  font-size: 2rem;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid #37a1f2;
  border-radius: 50%;
  font-size: 2.3rem;
  color: #37a1f2;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: #37a1f2;
  color: #f0f3fd;
  box-shadow: 0 0 1rem #37a1f2;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #37a1f2;
  border: 0.125rem solid #37a1f2;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #f0f3fd;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  box-shadow: 0 0 1rem #37a1f2;
}

.btn:hover {
  background: transparent;
  color: #37a1f2;
  box-shadow: none;
}

#dark-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #15202b;
  color: #f0f3fd;
}

#dark-container .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #15202b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#dark-container .logo,
#dark-container .navbar a {
  color: #f0f3fd;
}

#dark-container .navbar a:hover,
#dark-container .navbar a.destaque {
  color: #37a1f2;
}

#container,
#dark-container {
  clip-path: circle(0% at 0 0);
  transition-delay: 2s;
}

#container.active,
#dark-container.active {
  z-index: 1;
  clip-path: circle(150% at 0 0);
  transition: 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0s;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sobre-img img {
  width: 25vw;
  border: 0.2rem solid #37a1f2;
  border-radius: 5rem;
}

.heading {
  text-align: center;
  font-size: 4rem;
}

.sobre-content h2 {
  text-align: left;
  line-height: 1.2;
}

.sobre-content h3 {
  font-size: 2.5rem;
}

.sobre-content p {
  font-size: 1.8rem;
  margin: 1.5rem 0;
}

.habilidades h2 {
  margin-bottom: 5rem;
}

.habilidades-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.formacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.formacoes h2 {
  margin-bottom: 3rem;
}

.formacoes-container .formacoes-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.formacoes-row .formacoes-column {
  flex: 1 1 40rem;
}

.formacoes-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
  padding-top: 2rem;
}

.formacoes-column .formacoes-box {
  border-left: 0.2rem solid #37a1f2;
}

.formacoes-box .formacoes-content {
  position: relative;
  padding-left: 2rem;
}

.formacoes-box .formacoes-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background-color: #37a1f2;
  border-radius: 50%;
}

.formacoes-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid #37a1f2;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.formacoes-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.066);
  z-index: -1;
  transition: 0.5s;
}


#dark-container .formacoes-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.458);
  z-index: -1;
  transition: 0.5s;
}

.formacoes-content .content:hover::before {
  width: 100%;
}

#dark-container .formacoes-content .content:hover::before {
  width: 100%;
}

.formacoes-content .content .year {
  font-size: 1.5rem;
  color: #37a1f2;
  padding-bottom: 0.5rem;
}

.formacoes-content .content .year i {
  padding-right: 0.5rem;
}

.formacoes-content .content h3 {
  font-size: 2rem;
}

.formacoes-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

#dark-container .habilidades-container .habilidades-box {
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #15202b;
  transition: 0.5s ease;
}

.container .habilidades-container .habilidades-box {
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #f0f3fd;
  transition: 0.5s ease;
}

.habilidades-container .habilidades-box:hover {
  border-color: #37a1f2;
  transform: scale(1.02);
}

#dark-container .habilidades-container .habilidades-box:hover {
  border-color: #37a1f2;
  transform: scale(1.02);
}

#dark-container .habilidades-container .habilidades-box {
  background-color: rgba(0, 0, 0, 0.458);
}

.container .habilidades-container .habilidades-box {
  background-color: rgba(0, 0, 0, 0.066);
}

.habilidades-container i {
  font-size: 5rem;
  color: #37a1f2;
}

.habilidades-box h3 {
  font-size: 2.6rem;
}

.habilidades-box p {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  color: #f0f3fd;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #37a1f2;
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #37a1f2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: #f0f3fd;
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: #15202b;
}

.contatos h2 {
  margin-bottom: 3rem;
}

.contatos form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contatos form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .contatos form .input-box input,
.container .contatos form textarea {
  padding: 1.5rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.066);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

#dark-container .contatos form .input-box input,
#dark-container .contatos form textarea {
  padding: 1.5rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.458);
  color: #f0f3fd;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contatos form .input-box input {
  width: 49%;
}

.contatos form textarea {
  width: 100%;
  resize: none;
}

.contatos form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background-color: rgba(0, 0, 0, 0.066);
}

#dark-container .footer {
  background-color: rgba(0, 0, 0, 0.458);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #37a1f2;
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem #37a1f2;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #f0f3fd;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 990px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .habilidades {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contatos {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #f0f3fd;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  #dark-container .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #15202b;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active,
  #dark-container .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 3rem;
  }

  .sobre {
    flex-direction: column-reverse;
  }

  .sobre img {
    width: 50vw;
    margin-top: 3rem;
  }

  .service h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contatos form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .sobre img {
    width: 70vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
